<div class='log-container'>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="step-log-container step-log-container-fade1" data-anime-form-target="formTargets">
      <%= f.label :email do%>
      <h2>Email</h2>
    <% end %>
      <%= f.email_field :email, autocomplete: "email", class: "form-log-inputs", placeholder: 'Rock@lee.com' %>
    </div>

    <div class="step-log-container step-log-container-fade2" data-anime-form-target="formTargets">
      <%= f.label :password do %>
        <h2>password</h2>
      <% end %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-log-inputs" %>
    </div>

    <div class="actions step-log-container-fade3">
      <%= f.submit "connect", class: "btn-log" %>
    </div>
  <% end %>

</div>
