
<%= render "shared/header" %>
<div class="index-content">
  <% @anime.each do |element|%>
    <div class="anime-card">
      <h2> <%= element.title %> </h2>
      <div class="card-zoom">
      <% if element.photo.attached? %>
        <%= cl_image_tag element.photo.key, height: 300, width: 500, crop: :fill, class: "card-illustration" %>
      <% else %>
        <img src="<%=element.image_url%>" alt=<%="#{element.title} Illustration picture"%> class="card-illustration">
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<h2 id="first-letter"></h2>
