<h1>Animes#new</h1>
<p>Find me in app/views/animes/new.html.erb</p>

<head>

</head>
<body>
  <div><!-- TODO: ADD NAME TO CONTAINER -->
				<div class="fs-title">
					<h1>Add a Anime to the list</h1>
					<a href="/animes"><span>Back to list</span></a>
				</div>
				<%= form_for @anime, html: {id: "regForm", autocomplete: "off"} do |f| %>
          <ol>
            <li class="tab">
              <%= f.label :title, "What's the anime's name ?" %>
              <%= f.text_field :title, placeholder: "Hunter x Hunter", required: true %>
            </li>
            <li class="tab">
              <%= f.label :season, "Until which season did you watch it?" %>
              <%= f.text_field :season, placeholder: "4", required: true %>
            </li>
            <li class="tab">
              <%= f.label :synopsis, "Please add the synopsis" %>
              <%= f.text_field :synopsis, placeholder: "The story focuses on a young boy named Gon Freecss who discovers that his father, who left him at a young age, is actually a world-renowned Hunter, a licensed professional who specializes in fantastical pursuits such as locating rare or unidentified animal species, treasure hunting, surveying unexplored enclaves, or ...", required: true %>
            </li>
            <li class="tab">
              <%= f.label :comment, "Please add a comment" %>
              <%= f.text_field :comment, placeholder: "I really enjoyed this anime because....", required: true %>
            </li>
            <li class="tab">
              <%= f.label :link, "Please provide a link to the trailer" %>
              <%= f.text_field :link, placeholder: "www.traileroftheanime.com", required: true %>
            </li>
            <li class="tab">
              <%= f.label :rate_synopsis, "Please rate the synopsis" %>
              <%= f.text_field :rate_synopsis, placeholder: "4.5", required: true %>
            </li>
            <li class="tab">
              <%= f.label :rate_animation, "Please rate the animation" %>
              <%= f.text_field :rate_animation, placeholder: "4", required: true %>
            </li>
            <li class="tab">
              <%= f.label :photo, "Upload an image" %>
              <%= f.file_field :photo, accept: "image/*" %>
            </li>
          </ol>
          <%= f.submit "Send answers", class: "fs-submit" %>
        <% end %><!-- /regForm -->
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
			</div><!-- NAME CONTAINER -->








</body>
