<h1>Animes#new</h1>
<p>Find me in app/views/animes/new.html.erb</p>

<head>

<%# TO FULLFILL WITH LINK TO CSS %>

</head>
<body>
  <div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Add a Anime to the list</h1>
					<div class="codrops-top">
						<a class="codrops-icon codrops-icon-prev" href="/animes"><span>Back to list</span></a>
					</div>
				</div>
				<%= form_for @anime, html: {class: "fs-form fs-form-full", autocomplete: "off"} do |f| %>
          <ol class="fs-fields">
            <li>
              <%= f.label :title, "What's the anime's name ?", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :title, class: "fs-anim-lower", placeholder: "Hunter x Hunter", required: true %>
            </li>
            <li>
              <%= f.label :season, "Until which season did you watch it?", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :season, class: "fs-anim-lower", placeholder: "4", required: true %>
            </li>
            <li>
              <%= f.label :synopsis, "Please add the synopsis", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :synopsis, class: "fs-anim-lower", placeholder: "The story focuses on a young boy named Gon Freecss who discovers that his father, who left him at a young age, is actually a world-renowned Hunter, a licensed professional who specializes in fantastical pursuits such as locating rare or unidentified animal species, treasure hunting, surveying unexplored enclaves, or ...", required: true %>
            </li>
            <li>
              <%= f.label :comment, "Please add a comment", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :comment, class: "fs-anim-lower", placeholder: "I really enjoyed this anime because....", required: true %>
            </li>
            <li>
              <%= f.label :link, "Please provide a link to the trailer", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :link, class: "fs-anim-lower", placeholder: "www.traileroftheanime.com", required: true %>
            </li>
            <li>
              <%= f.label :rate_synopsis, "Please rate the synopsis", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :rate_synopsis, class: "fs-anim-lower", placeholder: "4.5", required: true %>
            </li>
            <li>
              <%= f.label :rate_animation, "Please rate the animation", class: "fs-field-label fs-anim-upper" %>
              <%= f.text_field :rate_animation, class: "fs-anim-lower", placeholder: "4", required: true %>
            </li>
            <li>
              <%= f.label :image_url, "Upload an image", class: "fs-field-label fs-anim-upper" %>
              <%= f.file_field :image_url, class: "fs-anim-lower", accept: "image/*" %>
              <%# to do : upload as a file, push on cloudinary %>
            </li>
          </ol><!-- /fs-fields -->
          <%= f.submit "Send answers", class: "fs-submit" %>
        <% end %><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->








</body>
