<div class='show-container'>

  <%= form_with url: '/animes', method: :post, data: { controller: 'anime-form', anime_form_target: 'form' } do |f| %>
  <!-- steps -->
  <div class="step-container" data-anime-form-target="formTargets">
    <%= f.label :title do %>
      <h2>Title</h2>
    <% end %>
    <%= f.text_field :title, autofocus: true, class: 'form-inputs', placeholder: 'Naruto' %>
  </div>

  <div class="step-container no-display" data-anime-form-target="formTargets">
    <%= f.label :synopsis do %>
      <h2>Synopsis</h2>
    <% end %>
    <%= f.text_area :synopsis, autofocus: true, class: 'form-inputs text-input' %>
  </div>

  <div class="step-container no-display" data-anime-form-target="formTargets">
    <%= f.label :season do %>
      <h2>Seasons</h2>
    <% end %>
    <%= f.text_field :season, autofocus: true, class: 'form-inputs', placeholder: '6' %>
  </div>

  <div class="step-container no-display" data-anime-form-target="formTargets">
    <%= f.label :rate_animation do %>
      <h2>Rate Animation</h2>
    <% end %>
    <%= f.text_field :rate_animation, autofocus: true, class: 'form-inputs', placeholder: '4.2' %>
  </div>

  <div class="step-container no-display" data-anime-form-target="formTargets">
    <%= f.label :rate_synopsis do %>
      <h2>Rate Synopsis</h2>
    <% end %>
    <%= f.text_field :rate_synopsis, autofocus: true, class: 'form-inputs', placeholder: '4.5' %>
  </div>

  <div class="step-container no-display" data-anime-form-target="formTargets">
    <%= f.label :picture do %>
      <h2>Picture</h2>
    <% end %>
    <%= f.file_field :picture, id: 'picture', class: 'form-inputs' %>
    <!--- <%= f.submit 'Submit' %> --->
  </div>

  <div class="form-buttons">
    <div class='form-button' data-action="click->anime-form#previousStep"><i class="fa-solid fa-chevron-left"></i></div>
    <div class='form-button' data-action="click->anime-form#nextStep"><i class="fa-solid fa-chevron-right"></i></div>
  </div>
<% end %>




  <!-- progressbar -->
  <div id="progressbar">
    <div class="progressdot" data-anime-form-target="progressDots"></div>
    <div class="progressdot" data-anime-form-target="progressDots"></div>
    <div class="progressdot" data-anime-form-target="progressDots"></div>
    <div class="progressdot" data-anime-form-target="progressDots"></div>
    <div class="progressdot" data-anime-form-target="progressDots"></div>
    <div class="progressdot" data-anime-form-target="progressDots"></div>
  </div>

  <div id='indication'>
    <p> Use arrows or press enter to continue</p>
  </div>

  <div class='arrow-left' data-controller='btn-return' data-btn-return-target='arrow'>
    <div class='arrow-stick'></div>
    <div class='arrow-end'></div>
  </div>
</div>
