<div id='show-container'>
  <div id='upper-part'>
    <div id='info-column'>
      <div>
        <h2><%=@anime.title%></h2>
          <h3><%="Seasons: #{@anime.season}" %></h3>
      </div>
      <div>
        <h2>ANIMATION </h2>
        <h3><%= "#{@anime.rate_animation}/5" %></h3>
      </div>
      <div>
        <h2>SYNOPSIS </h2>
        <h3><%="#{@anime.rate_synopsis}/5" %></h3>
      </div>
    </div>
    <% if @anime.photo.attached? %>
     <%= cl_image_tag @anime.photo.key, crop: :fill, class: "card-illustration-show" %>
    <% else %>
      <img src="<%=@anime.image_url%>" alt=<%="#{@anime.title} Illustration picture"%> class="card-illustration-show">
    <% end %>
  </div>
    <p><%=@anime.synopsis %></p>
    <div class='arrow-left'>
      <a class='link' href="/animes">
        <div class='arrow-stick'></div>
        <div class='arrow-end'></div>
      </a>
    </div>




</div>
