<!DOCTYPE html>
<html>
  <head>
    <title>AnimeList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://fonts.googleapis.com/css2?family=Baskervville&family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <%= favicon_link_tag "otaku.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
